@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
    @apply underline transition-colors;
    @apply hover:text-red-500 transition-colors;
}

.scroll-xs::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

.scroll-xs::-webkit-scrollbar-track {
    background-color: transparent;
}

.scroll-xs::-webkit-scrollbar-thumb {
    @apply bg-gray-400;
    border-radius: 1px;
}

.description h1 {
    @apply text-3xl font-bold mb-4;
}

.description h2 {
    @apply text-2xl font-bold mb-2;
}

.description h3 {
    @apply text-xl font-bold mb-2;
}

.description p {
    @apply mb-2;
}

.description ul {
    @apply pl-6;
}

.description li {
    @apply list-disc;
}

.description blockquote {
    @apply bg-slate-700 p-2 rounded-md my-2;
}

.description strong {
    @apply text-lg;
}
